<<<<<<< HEAD
@font-face
{
	font-family:"MyStyle";
	src: url("./font/001.ttf") format('truetype');
}
h1
{
	font-family:MyStyle,"MyStyle",微軟正黑體;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #f5f5f5;
}
.copyright {
    color: #444444;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #444444;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #444444;
=======
@font-face
{
	font-family:"MyStyle";
	src: url("./font/001.ttf") format('truetype');
}
h1
{
	font-family:MyStyle,"MyStyle",微軟正黑體;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: #f5f5f5;
}
.copyright {
    color: #444444;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #444444;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #444444;
>>>>>>> refs/remotes/origin/master
}