@font-face
{
	font-family:"MyStyle";
	src: url("./font/001.ttf") format('truetype');
}
h1
{
	font-family:MyStyle,"MyStyle",微軟正黑體;
}
.design 
{
    color: #444444;
    line-height: 8px;
    min-height: 30px;
    padding: 7px 0;
	float:right;
    text-align: right;
	font-size:8px;
	width:220px;
}
.design a 
{
    color: #444444;
}
.BigTitle
{
	width:100%;
}